// COLOR VARIABLES
$primary: #c69963;
$primary-dark: #B28451;

$secondary: #101d2c;

$grey-light-1: #f9f7f6;
$grey-light-2: #aaa;

$grey-dark-1: #54483A;
$grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}
